* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.header nav {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  padding-left: 24px;
  height: 50px;
}

.navigation li {
  margin-right: 16px;
  list-style: none;
}

.header a {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
}

.navigation li:nth-child(4n) {
  margin-right: 24px;
}

.header a {
  display: flex;
  align-items: center;
}

.header a:hover {
  font-weight: bold;
}

.header span {
  text-transform: uppercase;
}

.black {
  color: #4a4a4a;
  font-size: 1.7rem;
  font-weight: bold;
}

.gray {
  color: #9b9b9b;
  font-size: 1.7rem;
}

.main-header {
  display: flex;
}

.banner-photo {
  width: 60%;
  padding: 32px 24px 32px 24px;
  background-color: #d8d8d8;
}

.banner-photo img {
  overflow: hidden;
  width: 100%;
}

.banner-info {
  background-color: #d8d8d8;
  width: 40%;
  display: flex;
}

.banner-info a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  padding: 8px 20px;
  background-color: #4a4a4a;
}

.banner-info a:hover {
  font-size: 2.3rem;
}

h2 {
  color: #4a4a4a;
  font-size: 3.5rem;
}

h3 {
  color: #4a4a4a;
  font-size: 2.2rem;
}

.banner-info h2 {
  margin-bottom: 32px;
}

.banner-info h3 {
  margin-bottom: 32px;
}

.banner-info div {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-article {
  width: 60%;
  padding: 32px 24px 32px 24px;
}

.main-article img {
  overflow: hidden;
  width: 100%;
}

.main-article h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}

p {
  font-size: 1.45rem;
  color: #565656;
}

.main-article p {
  margin-bottom: 40px;
}

.main-article span {
  margin-bottom: 32px;
}

.aside-info {
  width: 40%;
  padding: 32px 0 32px 0;
}

.container:hover {
  background-color: #d8d8d8;
}

.info-section {
  display: flex;
}

.container {
  display: flex;
}

.container img {
  margin: 16px;
  width: 35%;
  height: auto;
}

.container div {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container div p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.container a {
  text-decoration: none;
  color: #4c91e2;
  font-size: 1.5rem;
}

.cource {
  background-color: #d8d8d8;
}

.cource-container {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 56px 0 56px;
}

.cource-container div {
  margin: 12px 16px;
}

.cource h2 {
  text-align: center;
  padding-top: 32px;
}

.cource-container div {
  width: 31%;
  background-color: #fff;
  margin-bottom: 32px;
}

.cource-container img {
  overflow: hidden;
  width: 100%;
}

.cource-container h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.cource-container span {
  margin-bottom: 8px;
  display: block;
  margin-left: 16px;
  font-size: 1.45rem;
  text-transform: uppercase;
  color: #565656;
}

.cource-container p {
  margin-bottom: 24px;
  margin-left: 16px;
}

.companies h2 {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.companies-container {
  display: flex;
}

.video {
  width: 60%;
  margin-left: 24px;
  margin-right: 24px;
}

video {
  margin-bottom: 24px;
}

.video video {
  overflow: hidden;
  width: 100%;
}

.companies .aside-info {
  padding-top: 0;
}

.video h3 {
  margin-bottom: 8px;
}

.video p {
  margin-bottom: 32px;
}

footer {
  padding-top: 16px;
  padding-left: 24px;
  padding-bottom: 40px;
  background-color: #d8d8d8;
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
}

footer li {
  list-style: none;
  margin-right: 16px;
}

footer a {
  text-decoration: none;
  color: #565656;
}

footer span {
  color: #565656;
}

footer a:hover {
  color: #000;
}
